<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/style.css">
  </head>

  <body>
    <header>
      <nav class="nav navbar navbar-expand-lg container justify-content-end pt-1.125 pb-1.0625 py-md-1.75">
        <div class="col-4">
          <div class="text-center">
            <h1 class="h4"><a class="text-primary link-primary" href="./">EXHIBINECTION</a></h1>
          </div>
        </div>
        <div class="col-4">
          <ul class="navbar-nav d-flex justify-content-end">
            <li class="d-none d-lg-block ms-md-2"><a class="link-primary" href="#">Sign in</a></li>
            <li class="d-none d-lg-block ms-md-2"><a class="link-primary" href="#">Sign up</a></li>
            <li class="position-relative ms-auto ms-md-2">
              <i class="material-icons"> confirmation_number </i>
              <!-- rounded 9px 尚未設定 -->
              <span class="position-absolute translate-middle rounded-pill bg-secondary text-white small px-0.5 py-0.125">3</span>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%- contents %>

    <footer>
      <div class="banner__bg banner__bg--subscribe d-flex flex-column justify-content-end">
        <div class="container">
          <h2 class="text-white mb-1.375 mb-md-0.75">想收到最新消息嗎？<br>快訂閱我們！</h2>
          <div class="d-flex mb-2.25">
            <input class="px-0.75 pt-0.6875 pb-0.8125 py-md-0.75" type="email" name="email" placeholder="輸入您的電子信箱">
            <input class="bg-secondary border-0 text-white ps-3.25 pe-3.1875 pe-md-3.25 pt-0.6875 pb-0.8125 py-md-0.75" type="submit" value="訂閱">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between container py-1 py-md-1.75">
        <div class="col-6 d-lg-flex align-items-center">
          <p class="h4 me-1">EXHIBINECTION</p>
          <p class="">© 2020. All Rights Reserved.</p>
        </div>
        <div class="col-6">
          <ul class="d-flex justify-content-end">
            <li class="d-none d-lg-block ms-md-1.5"><a class="link-primary" href="#">Sign in</a></li>
            <li class="d-none d-lg-block ms-md-1.5"><a class="link-primary" href="#">Sign up</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>