<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/style.css">
  </head>

  <body>
    <header>
      <nav class="nav navbar navbar-expand-lg container-fluid py-4">
        <div class="col-4">
          
        </div>
        <div class="col-4">
          <div class="text-center">
            <a class="h4 text-primary link-primary" href="#">EXHIBINECTION</a>
          </div>
        </div>
        <div class="col-4">
          <ul class="navbar-nav d-flex justify-content-end">
            <li class="d-none d-lg-block me-md-5"><a class="link-primary" href="#">Sign in</a></li>
            <li class="d-none d-lg-block me-md-5"><a class="link-primary" href="#">Sign up</a></li>
            <li class="ms-auto ms-lg-0 me-md-5 position-relative">
              <i class="material-icons"> confirmation_number </i>
              <span class="position-absolute translate-middle rounded-pill bg-secondary text-white small px-2 py-0">3</span>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%- contents %>

    <footer class="footer">
      footer
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>