@import './layout/_index.scss';

img {
    max-width: 100%;
    height: auto;
}

.subscribe {
    &__banner {
        height: 400px;
        background-image: url(../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    &__title {
        padding-bottom: 22px;
    }
    &__body {
        margin-bottom: 36px;
    }
    &__input {
        min-width: 210px;
        padding: 12px;
        margin-right: -3px;
        border: 0;
    }
    &__button {
        min-width: 135px;
        padding-top: 11px;
        padding-bottom: 13px;
        padding-left: 52px;
        padding-right: 51px;
        background-color: #E31277;
        color: white;
        border: 0;
    }
}