.banner {
    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

.banner__bg--home {
    @include banner (480px, '../images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash.jpg');
}

.banner__bg--subscribe {
    @include banner (400px, '../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg');
}